body{
  background: #ffffff;
  line-height: 120%;
  font-size: 0.8em;
}

.palette{
  background: #ffffff;
  font-family: serif;
  color: #333333;
  width: 850px;
  height: auto;
  padding: 30px;
  margin: 30px auto;
}

.intro{
  font-family: sans-serif;
}

.image{
  float: left;
  padding-right: 50px;
}

.title{
  background: #d5eaff;
  font-family: sans-serif;
  color: #006699;
  font-size: 1.6rem;
  text-align: text-left;
  margin: 20px auto;
  padding: 10px;
}
