body{
  background: #ffffff;
  line-height: 120%;
  font-size: 0.8em;
  -webkit-text-size-adjust: 150%;
}

header{
  text-align: right;
  background-color: #333333;
  margin-left: 326px;
  position: fixed;
  width: 850px;
  height: 30px;
  font-family: serif;
  top: 0em;
  
}

header li{
  font-size: 1.2em;
  display: inline-block;
}

header a {
  margin: 1.2em;
  color: white;
  text-decoration: none;
}

.palette{
  background: #ffffff;
  font-family: serif;
  color: #333333;
  width: 850px;
  height: auto;
  padding: 30px;
  margin: 30px auto;
}

.intro{
  font-family: sans-serif;
}

.image{
  float: left;
  padding-right: 50px;
}

.title{
  background: #d5eaff;
  font-family: sans-serif;
  color: #006699;
  font-size: 1.6rem;
  text-align: text-left;
  margin: 20px auto;
  padding: 10px;
}
